<div class="container">
  <div class="row">
    <div class="col-6">
      <form>
        <div class="card">
          <div class="card-body">
            <h3 class="ui header">Add A link</h3>
            <div class="control">
              <label for="title">Title: </label>
              <input name="title" id="title" #newtitle class="form-control">
            </div>
            <div class="control">
              <label for="link">Link: </label>
              <input name="link" id="link" #newlink class="form-control">
            </div>
          </div>
          <div class="card-footer">
            <button (click)="addArtical(newtitle, newlink)" class="btn btn-outline-success">Submit Link</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div>
    <app-artical></app-artical>
  </div>

</div>